@import "tailwindcss";



@layer base {
  body {
    @apply bg-[#F9FCFD] text-[#4D4F51];
  }

  h1 {
    @apply text-2xl md:text-4xl lg:text-5xl/[60px] font-extrabold ;
  }

  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-xl font-semibold;
  }

  p {
    @apply text-base md:text-xl font-normal;
  }
}

/* color */
.primary_bg {
  background-color: #145B9F;
}

.primary_tx {
  color: #145B9F;
}
.secondary_bg {
  background-color: #092a4a;
}
.secondary_tx {
  background-color: #092a4a;
}
.thard_bg {
  background-color: #e2ecf7;
}
.thard_tx {
  background-color: #e2ecf7;
}
 
/* body{
  background-color: #23272F;
} */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
